[submodule "assets/bootstrap-table"]
	path = assets/bootstrap-table
	url = https://github.com/wenzhixin/bootstrap-table.git
[submodule "assets/multiple-select"]
	path = assets/multiple-select
	url = https://github.com/wenzhixin/multiple-select.git
