<!DOCTYPE html><html><head>
  <title>Bootstrap Table Examples</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features.">
  <meta name="keywords" content="table, bootstrap, bootstrap plugin, bootstrap resources, bootstrap table, jQuery plugin">
  <meta name="author" content="Zhixin Wen, and Bootstrap table contributors">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@4" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hover.css@2.3.2/css/hover.min.css">
  <link rel="stylesheet" href="assets/css/docs.min.css">
  <link rel="stylesheet" href="assets/css/index.css?v=969">
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="icon" href="favicon.png">

  <script type="text/javascript">
    if (window !== top) // 判断当前的window对象是否是top对象
      top.location.href = window.location.href // 如果不是，将top对象的网址自动导向被嵌入网页的网址
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132747866-1"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag () {
      window.dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', 'UA-132747866-1')
  </script>
</head>

<body>
  <div id="app" class="d-none">
    <header class="navbar navbar-expand-lg bd-navbar sticky-top">
      <nav class="container-fluid bd-gutter flex-wrap flex-lg-nowrap px-3" aria-label="Main navigation">
        <div class="bd-navbar-toggle">
          <button
            class="navbar-toggler p-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#bdSidebar"
            aria-controls="bdSidebar"
            aria-label="Toggle docs navigation"
          >
            <i class="bi bi-list"></i>
            <span class="d-none fs-6 pe-1">Browse</span>
          </button>
        </div>
        <a
          class="navbar-brand p-0 me-0 me-lg-2"
          href="https://bootstrap-table.com/"
          aria-label="Bootstrap"
        >
          <img src="favicon.png" width="32" height="32">
        </a>

        <div class="d-flex">
          <div class="bd-search"></div>
          <button
            class="navbar-toggler d-flex d-lg-none order-3 p-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#bdNavbar"
            aria-controls="bdNavbar"
            aria-label="Toggle navigation"
          >
            <i class="bi bi-three-dots"></i>
          </button>
        </div>

        <div
          class="offcanvas-lg offcanvas-end flex-grow-1"
          tabindex="-1"
          id="bdNavbar"
          aria-labelledby="bdNavbarOffcanvasLabel"
        >
          <div class="offcanvas-header px-4 pb-0">
            <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">Bootstrap Table</h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
              data-bs-target="#bdNavbar"></button>
          </div>

          <div class="offcanvas-body p-4 pt-0 p-lg-0">
            <hr class="d-lg-none" />
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
              <li
                v-for="(item, index) in navItems"
                :key="index"
                class="nav-item col-6 col-lg-auto"
              >
                <a
                  class="nav-link"
                  :class="{ active: item.active }"
                  :href="item.href"
                  :target="item.target"
                >
                  {{ item.text }}
                </a>
              </li>
            </ul>

            <hr class="d-lg-none" />

            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
              <li
                v-for="(item, index) in icons"
                :key="index"
                class="nav-item col-6 col-lg-auto"
              >
                <a
                  class="nav-link py-2 px-0 px-lg-2"
                  :href="item.href"
                  target="_blank"
                  rel="noopener"
                  :title="item.ariaLabel"
                  :aria-label="item.ariaLabel"
                >
                  <i
                    class="bi"
                    :class="item.icon"
                  ></i>
                  <small class="d-lg-none ms-2">{{ item.ariaLabel }}</small>
                </a>
              </li>

              <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
                <hr class="d-lg-none my-2" />
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle me-md-2"
                  href="#"
                  id="bd-versions"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>{{ themeText }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme">
                  <li v-for="(item, index) in themes" :key="index">
                    <a
                      class="dropdown-item"
                      :class="{ active: theme === item.value }"
                      :data-theme="item.value"
                      :href="`index.html${item.value ? '?' + item.value : ''}`"
                    >
                      {{ item.label }}
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
                <hr class="d-lg-none my-2" />
              </li>

              <li v-if="!theme" class="nav-item dropdown bd-bootstrap-theme">
                <a
                  class="nav-link dropdown-toggle me-md-2"
                  href="#"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>
                    <i class="bi" :class="bootstrapThemeIcon"></i>
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-bootstrap-theme">
                  <li v-for="(item, index) in bootstrapThemes" :key="index">
                    <a
                      class="dropdown-item"
                      :class="{ active: bootstrapTheme === item.value }"
                      :data-bootstrap-theme="item.value"
                      href="#"
                      @click="setBootstrapTheme(item.value)"
                    >
                      <i class="bi" :class="item.icon"></i> {{ item.label }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row flex-xl-nowrap h-100">
        <aside class="bd-sidebar col-12 col-md-3 col-xl-2 ps-3">
          <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
                data-bs-target="#bdSidebar"></button>
            </div>

            <div class="offcanvas-body d-flex flex-column">
              <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2 flex-grow-1 overflow-y-auto" id="bd-docs-nav">
                <li
                  v-for="group in displayMenus"
                  :key="group.title"
                  class="bd-links-group py-2"
                >
                  <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    {{ group.title }}
                  </strong>
                  <ul class="list-unstyled fw-normal pb-2 small">
                    <li
                      v-for="item in group.children"
                      :key="item.href"
                    >
                      <a
                        class="bd-links-link d-inline-block rounded"
                        :class="{ active: currentHref === item.href }"
                        :href="item.href"
                      >
                        {{ item.label }}
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="bd-links-group py-2">
                  <ul class="list-unstyled fw-normal pb-2 small">
                    <li class="bd-links-span-all mt-1 mb-3 mx-4 border-top"></li>
                    <li>
                      <a class="bd-links-link d-inline-block rounded" href="https://github.com/wenzhixin/bootstrap-table-examples" target="_blank">
                        Examples GitHub
                      </a>
                    </li>
                </li>
              </ul>
            </div>
          </div>
        </aside>

        <main class="col-12 col-md-9 col-xl-10 py-md-3 ps-md-5 bd-content" role="main">
          <iframe width="100%" height="100%"></iframe>
          <div class="icon-buttons">
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              href="javascript:"
              class="btn btn-outline-primary view-example hvr-icon-wobble-vertical"
              title="View Example"
            >
              <i class="fa fa-eye hvr-icon"></i>
            </a>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              href="javascript:"
              class="btn btn-outline-primary view-source hvr-icon-wobble-vertical"
              title="View Source"
            >
              <i class="fa fa-code hvr-icon"></i>
            </a>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              href="javascript:"
              target="_blank"
              class="btn btn-outline-primary view-online hvr-icon-wobble-vertical"
              title="Run on Online Editor"
            >
              <i class="fa fa-cube hvr-icon"></i>
            </a>
          </div>
        </main>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@4"></script>
  <script>$.browser = {}
</script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-hashchange@2.0.0/jquery.ba-hashchange.min.js"></script>
  <script src="assets/js/config.js?v=969" type="module"></script>
  <script src="assets/js/index.js?v=969"></script>
</body>
</html>
