body {
  overflow: hidden;
  height: 100vh;
}

iframe {
  border: 0;
}

.bd-content {
  height: calc(100vh - 66px);
  min-height: calc(100vh - 66px);
  position: relative;
}

.bd-navbar .dropdown-menu .active .bi {
  display: inline-block !important;
}

.bd-sidebar .nav>li>a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.icon-buttons .view-example {
  display: none;
}

.icon-buttons a {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
}

.icon-buttons i {
  font-size: 24px;
  line-height: 40px;
}
