.bs-docs-header {
  padding: 10px 0 0;
}

.bs-docs-header .col-md-8 {
  padding: 0 0 20px;
}

.bs-docs-header h1 {
  margin-top: 20px;
  margin-right: 0;
}

.bs-docs-header div {
  font-size: 16px;
  line-height: 24px;
}

.bs-docs-header a {
  color: #fff;
}

#viewSource,
#viewExample,
.source-pre {
  display: none;
}
