html.bootstrap3 {
  font-size: 16px;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0 3rem!important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#viewSource,
#viewExample,
.source-pre {
  display: none;
}

.title-desc {
  min-height: 162px;
}

#carbonads {
  margin-top: 0;
}

.header-wrapper {
  -js-display: flex;
	display: flex;
}

.title-desc {
  flex: 1;
  padding-right: 20px;
}

.header-right {
  flex: 0 0 330px;
}

.bd-title {
  font-size: 2rem;
  margin-top: 1rem!important;
  margin-bottom: .5rem!important;
}

.bd-lead {
  max-width: 100%;
  font-size: 1.1rem;
}

@media (max-width: 991.98px) {
  body {
    padding: 0 !important;
  }

  .header-wrapper {
    display: block;
  }

  .title-desc {
    min-height: auto;
  }
}
