body {
    overflow: hidden;
}

.nav-list {
    top: 50px;
    left: 0;
    width: 400px;
    bottom: 0;
    background-color: rgb(247, 247, 247);
    border-right: 1px solid rgb(221, 221, 221);
    z-index: 91;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    position: fixed;
    padding-top: 49px;
}

.nav-list.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.nav-list .title {
    line-height: 46px;
    font-size: 18px;
    padding-left: 10px;
    text-shadow: rgb(255, 255, 255) 0 1px 0;
    border-bottom: 1px solid rgb(229, 229, 229);
    position: absolute;
    height: 49px;
    top: 0;
    right: 0;
    left: 0;
}

a.toggle {
    position: absolute;
    top: 9px;
    right: -49px;
}

.nav-list.active a.toggle {
    right: 9px;
}

a.toggle .glyphicon-chevron-left,
.nav-list.active a.toggle .glyphicon-chevron-right {
    display: none;
}

a.toggle .glyphicon-chevron-right,
.nav-list.active a.toggle .glyphicon-chevron-left {
    display: block;
}

.nav-list ul {
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.content {
    position: fixed;
    width: 100%;
    top: 51px;
    bottom: 0;
}

iframe {
    border: 0;
}

.dropdown-menu {
    max-height: 500px;
    overflow: auto;
}